.svg {
  margin-top: 100px;

  path {
    fill: none;
    stroke: $black;
    stroke-width: 2px;
  }

  &-item2 {
    margin-top: -8px;
  }

  &-box {
    height: 200px;
  }

  @include responsive(M) {
    &-box {
      height: 300px;
    }
  }
}
