.gnb {
  @include flexbox(between);
  padding: 20px 60px;

  &-logo {
    img {
      width: 46px;
      height: 46px;
      object-fit: contain
    }
  }

  &-list {
    ul {
      @include flexbox(start);
    }

    li {
      a {
        padding: 0 12px;
        font-weight: 600;
        transition: all 300ms ease-in-out;
  

        i {
          font-size: 24px;
        }

        &:hover {
          color: $secondary;
        }
      }
    }
  }

  @include responsive(M) {
    padding: 20px 40px;

    &-logo {
      img {
        width: 32px;
        height: 32px;
      }
    }


    &-list {
      li {
        a {
          padding: 0 12px;

          i {
            font-size: 18px;
          }

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}
